#board {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    opacity: 1;

    transition: all .5s ease-in-out;
    padding: 1%;
}
#board.transition-zero {
    transition: all 0s;
}
#board.shrink {
    width: 100.5%;
}
#board.hide {
    transform: scale(.3);
    opacity: 0;
}

#cards-board #number-of-sets {
    position: absolute;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;

    font-size: 15vw;
    transform: rotate(-90deg) scale(.4);
    transition: all .7s;
    opacity: 0;
}
#cards-board #number-of-sets.appear {
    transform: rotate(-90deg) scale(1);
    opacity: 1;
}

#cards-board {
    width: 87%;
    height: 100%;
    margin: auto;
    position: relative;

    transition: all .5s;
    transform: rotate(90deg);

    border-radius: 8px;
    border: 2px solid rgba(255, 255, 255, .5);
    background-color: rgba(255, 255, 255, .2);
    pointer-events: none;

    box-shadow: 8px -8px 8px 8px rgba(0, 0, 0, .4);
}
#cards-board.unlock {
    pointer-events: auto;
}
#cards-board.fifteen {
    height: 90%;
}
#cards-board.eighteen {
    height: 80%;
}
#cards-board.twenty-one {
    height: 70%;
}

.card {
    width: 24%;
    height: 31%;
    position: relative;
    margin: auto;
    background: transparent;
    border-radius: 8px;
    transform: scale(1);
    transition: transform .5s, width .5s, background .1s;
    opacity: 1;
}

.card.fifteen {
    width: 19%;
}
.card.eighteen {
    width: 16%;
}
.card.twenty-one {
    width: 13.75%;
}
.card.active {
    background: orange;
}
.card:hover {
    background: orange;
}
.card.fade {
    opacity: 0;
    transition: all .5s;
}
.card.wrong {
    background: crimson;
}
.card.example img {
    opacity: .2;
}
.card.trans {
    z-index: 5;
    transition: all 1s ease;
}
.card.hide {
    opacity: 0;
}
.card.squeeze {
    width: 0%;
}
.card img {
    width: 100%;
    height: 100%;
    position: absolute;
}
.card.active img {
    opacity: .7;
}
