#game {
    position: absolute;
    height: 90%;
    width: 70%;
    transform: translate(calc(15vw), calc(5vh));
}

#game #layout  {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    color: white;
    border-collapse: collapse;
    transform: translate(calc(15vw), calc(5vh)) scale(.2);
    transition: all .5s ease;
}
#game #layout.appear {
    transform: scale(1);
    opacity: 1;
}
#game #layout > tbody > tr:nth-child(2) {
    height: 10%;
}
#game #layout > tbody > tr:nth-child(2) > td:nth-child(2) {
    width: 40%;
}

#description {
    background-color: rgb(15, 7, 1, .7);
    border: 2px solid rgba(0, 0, 0, .1);
    position: absolute;
    height: 100%;
    width: 100%;
    transform: scale(.3);
    transition: all .5s ease, font-size 0s;
    display: block;
    padding: 1% 5%;

    visibility: hidden;
    opacity: 0;

    font-size: 1.7vw;
    color: rgba(255, 255, 255, .8);
}
#description.appear {
    transform: scale(1);
    opacity: .9;
    visibility: visible;
}
#description img {
    height: 20%;
    display: block;
    background-color: white;
    margin: auto;
}

#container {
    position: relative;
    width: 100%;
    padding-bottom: 63%;
    min-height: 500px;
    min-width: 800px;
    margin-bottom: 2%;
}

#winner {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;

    font-size: 8vw;
    color: white;
    opacity: 0;

    transform: scale(.3);
    transition: all .5s;
}
#winner.appear {
    opacity: 1;
    transform: scale(1);
}