#scoreboard {
    opacity: 0;
    background-color: rgb(15, 7, 1, .7);
    border: 2px solid rgba(0, 0, 0, .1);
    position: absolute;
    height: 95%;
    width: 100%;
    transform: translateY(calc(-50vh)) scale(.4);
    transition: all .5s ease;
}

#scoreboard.appear {
    transform: scale(1);
    opacity: .9;
}

#scoreboard table {
    width: 100%;
    text-align: center;
    color: white;
}

#scoreboard table th {
    height: 10%;
    font-size: 200%;
    border: 2px solid rgba(0, 0, 0, .6);
    background: rgba(255, 255, 255, .2);
    border-radius: 6px;
}

#scoreboard table td {
    font-size: 150%;
    opacity: .8;
}
