#scoreboard {
    width: 10%;
    height: 10%;
    top: -50%;
    left: 45%;
    opacity: 0;
    background-color: rgba(0, 0, 0, .6);
    border: 2px solid rgba(0, 0, 0, .1);
    backdrop-filter: blur(30px);
    position: absolute;
    transform: scale(.4);
    transition: all .3s ease;
}

#scoreboard.appear {
    transform: scale(1);
    width: 70%;
    min-width: 750px;
    height: 80%;
    top: 10%;
    left: 15%;
    opacity: .9;
}

#scoreboard table {
    width: 100%;
    text-align: center;
    color: white;
}

#scoreboard table th {
    height: 10%;
    font-size: 200%;
    border: 2px solid rgba(0, 0, 0, .6);
    background: rgba(255, 255, 255, .2);
    border-radius: 6px;
}

#scoreboard table td {
    font-size: 150%;
    opacity: .8;
}
