#sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, .233);
    overflow-x: hidden;
    transition: .5s;
    padding-top: 60px;
}

#sidebar.opened {
    width: 250px;
}

#sidebarClick {
    position: absolute;
    height: 100%;
    width: 3%;
    z-index: 2;
    top: 0;
    left: 0;
    background-color:rgba(255, 255, 255, .233);
    transition: .5s;
    margin-left: 0;
}

#sidebarClick.opened {
    margin-left: 250px;
}

#sidebar a {
    text-decoration: none;
    color: #ffffffaf;
    display: block;
    text-shadow: 2px 2px 8px #00000075;
    opacity: 0;
    transition: all .4s;
    font-size: 50%;
    padding: 8px 8px 8px 32px;
}

#sidebar.opened a {
    font-size: 250%;
    opacity: 1;
    transition: all .7s;
}

#sidebar a:hover {
    color: #f1f1f1;
    cursor: pointer;
}

#sidebarClick p {
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    color:  rgba(255, 255, 255, .8);
    font-size: 400%;
    height: 100%;
}

#sidebarClick p.click {
    transform: scale(-1, 1);;
}

#sidebarClick:hover {
    background-color: rgba(255, 255, 255, .404);
}

