#welcome {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    color:  rgba(255, 255, 255, .4);
    font-size: 15vw;
    font-weight: bold;
    opacity: .8;
    transform: scale(1);
    transition: all .6s ease-in-out, font-size 0s;
}

#welcome.disappear {
    opacity: 0;
    transform: scale(0);
}
